.wrapper {
  margin: 0 auto;
  width: 1010px;
/*  font-size: 0.01em;  */
}

.column {
  width: 160px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.three-column {
  width: 500px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.four-column {
  width: 670px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.half-column {
  width: 80px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.last {
  margin-right: 0px;
}